@import "tailwindcss";

:root {
  --background: #E9ECEF;
  --foreground: #212529;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
